<div class="center jumbotron">
  <!--<%= video_tag "source.mp4", autoplay: true, loop: true, class: "video", controls: true, autobuffer: true %>-->
  <h1>DOGGY DOGGY</h1>
  <%= link_to "Sign up now", signup_path, class: "btn btn-danger btn-lg btn-xlarge" %>


</div>
